.nav {
  background-color: #fff;
  position: relative;
  z-index: 9;
  box-shadow: 0 3px 6px rgba(226, 156, 156, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem 1rem;
  .logo-link{
    width: 60px;
    .logo{
     width: 100%;
    }
  }
  .account {
    background: #e8e8e8;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .account-icon {
      margin: 0;
      font-size: 1.5rem;
    }
  }
  .account-dropdown{
    min-width: 200px;
  }
}
